<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../part/head.ejs')%>
</head>

<body>
  <header>
    <%- include('../part/header.ejs')%>
  </header>
  <div class="modal-content">
    <div class="card-body text-center">
      <h4 class="card-title">Update Category Id <%=datacate.id%></h4>
    </div>
    <div class=" card col-8 offset-2 my-2 p-3">
      <form action="/categories/update/<%=datacate.id%>" method="post">
        <div class="form-group">
          <label for="datepicker">Category Name</label>
          <input type="text" class="form-control" name="name" value="<%=datacate.name%>">
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-block btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</body>


</html>