<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../part/head.ejs')%>
</head>

<body>
    <header>
        <%- include('../part/header.ejs')%>
    </header>
    
    <div class="container my-4">
        <div class="card-body text-center">
     <h4 class="card-title">Stock In Data</h4>
     
    <main>
        <div class="jumbotron">
            <div class="card">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Motorcycle Name</th>
                            <th scope="col">Category Name</th>
                            <th scope="col">Transmisi</th>
                            <th scope="col">CC</th>
                            <th scope="col">Stock In</th>
                            <th scope="col">Price</th>
                            <th scope="col">Actions</th>

                        </tr>
                    </thead>
                    <tbody>
                        <% inputs.forEach( element=>{%>
                            <tr>
                                <th>
                                    <%=element.id%>
                                </th>
                                <td>
                                    <%=element.motorcycle.name%>
                                </td>
                                <td>
                                    <%= element.motorcycle.category.name%>
                                </td>
                                <td>
                                    <%=element.motorcycle.transmisi%>
                                </td>
                                <td>
                                    <%=element.motorcycle.cc%>
                                </td>
                                <td>
                                    <%=element.stock%>
                                </td>
                                <td>
                                    <%=element.motorcycle.price%>
                                </td>
                                <td>
                                    <a class="btn btn-sm btn-danger" href="/inputs/delete/<%=element.id%>"><i
                                            class="fas fa-trash-alt"></i>Delete</a>
                                </td>

                            </tr>
                            <%})%>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
</body>

</html>